@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1d5b7;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----- float för figure ----- */

figure {
    float: left;
    margin: 0 20px 10px 0;
}

figure img {
    width: 150px;
    max-width:100%;
}

figure figcaption {
    font-style: italic;
}

/* ----- float för kolumnerna ----- */

.columns {
    clear: both;
}

/* ----- float för boxarna ----- */

#wrapper { /* Stil för elementet som omger boxarna */
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
}

#wrapper div { /* Stil för alla boxar */
    width: 25%;
    height: 100px;
    padding: 10px;
    margin: 20px;
    border: 6px solid #000000;
    float: left;
}

#wrapper::after {
    content: "";
    display: block;
    clear: both;
}

#box1 {
    background-color: #d89228;
}

#box2 {
    background-color: #4fcd6c;
}

#box3 {
    background-color: #2886d8;
}

.col1 {
    float: left;
    width: 28%;
    margin-right: 4%;
}

.col2 {
    width: 68%;
    float: left;
}

.columns::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 40px;
}